<div class="form-group" id="link-choice-flickr" style="display: none">
  <%= label_tag :image_remote, 'Изображение Flickr' %>
  <%= text_field_tag :image_remote, nil %>
</div>
<div class="form-group"  id="current_flickr" style="display:none" >
  <%= image_tag "125x125.jpg", class: "img-responsive"%>
</div>
<div class="form-group">
  <%= check_box_tag :find_flickr, 1, false, onclick: "show_flicker(this)", autocomplete: 'off' %>
  <%= label_tag :find_flickr, t(:find_flickr)%>
  <!-- <%=link_to t(:find_flickr), '#' %> -->
  <!--<a href="/posts/2" class="delete_post" data-confirm="Are you sure?" data-method="delete" data-remote="true" rel="nofollow">Destroy</a>-->
</div>
<div class="form-group" id="flicker" style="display: none">
  <div class="input-group add-on col-xs-6">
    <input class="form-control" placeholder="wild, city, work" name="srch-term" id="search-term" type="text">
    <div class="input-group-btn">
      <!-- <label class="btn btn-default" type="submit2"><i class="glyphicon glyphicon-search"></i></label> -->
      <%=
        label_tag(nil, nil, {class: 'btn btn-default', id: 'search_flickr', 'data-url': "#{photos_path}",
                             'data-remote': 'true', 'data-method': 'post'})do
          content_tag :i, nil, class: 'glyphicon glyphicon-search'
        end
      %>
    </div>
  </div>
</div>
<div class='form-group' id='flickr-cont' style="display: none">
  <div class="container">
    <div class="row" >
      <% 5.times do |i| %>
          <div class="col-xs-2" >
            <a class="thumbnail" name="flickr-pic">
              <img src="125x125.jpg" alt="125x125" id=<%= "remote-pic-#{i+1}" %> onclick="set_image_remote(this)">
            </a>
          </div>
      <% end %>
    </div>
    <div class="row">
      <% 5.times do |i| %>
          <div class="col-xs-2" >
            <a class="thumbnail" name="flickr-pic">
              <img src="125x125.jpg" alt="125x125" id=<%= "remote-pic-#{i+6}" %> onclick="set_image_remote(this)">
            </a>
          </div>
      <% end %>
    </div>
  </div>
</div>
